
/* btn
-------------------------------------------------------*/

.btn {
  border: 0;
  display: inline-block;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: .07em;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 5px;
  -webkit-transition: opacity .2s ease-in-out;
     -moz-transition: opacity .2s ease-in-out;
      -ms-transition: opacity .2s ease-in-out;
       -o-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
}

.btn:hover {
  opacity: .7;
  text-decoration: none;
}


.btn-01 {
  background: #15b0ed;
  color: #fff;
  font-size: 24px;
}

.btn-02 {
  background: #2dd486;
  color: #fff;
  font-size: 24px;
}

.btn-center {
  text-align: center;
}

@media screen and (max-width: 811px) {


  .btn {
    font-size: 16px;
  }

  .btn-01 {
    background: #15b0ed;
    color: #fff;
    font-size: 18px;
  }

  .btn-02 {
    background: #2dd486;
    color: #fff;
    font-size: 18px;
  }

}

/*
============================================================ */
/* breadcrumbs
============================================================ */
.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-list li {
  position: relative;
  font-size: 12px;
  color: #fff;
}

.breadcrumbs-list li:after {
  content: ">";
  margin: 0 7px 0 4px;
  color: #999;
}

.breadcrumbs-list li:last-child:after {
  display: none;
}

.breadcrumbs-list li a {
  text-decoration: none;
  color: #999;
}

.breadcrumbs-list li a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 811px) {

  .breadcrumbs-list li {
    font-size: 11px;
  }

}

/* btn
-------------------------------------------------------*/

.form_basic {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 10px 9px;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  transition: 0.15s;
}

.form_basic:focus {
  border: 1px solid #15b0ed;
}

.form_basic::-webkit-input-placeholder {
  color: #9e9e9e;
}

.form_required {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  padding: 2px 10px;
  background: #f66;
  border-radius: 3px;
  line-height: 1em;
  margin-left: 10px;
}

.form_basic_textarea {
  min-height: 80px;
}

.form_basic_select {
  position: relative;
}

.form_basic_select i {
  color: #777;
  position: absolute;
  right: 13px;
  top: 13px;
}

/* bg-full
============================================================ */

.bg-full {
  position: relative;
}
.bg-full:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  min-width: 960px;
  height: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (max-width: 811px) {

  .bg-full:before {
    min-width: 100%;
  }

}



/*** pc-only / sp-only ***/
@media screen and (min-width: 812px) {
  .sp-only {
    display: none !important;
  }
}
@media screen and (max-width: 811px) {
  .pc-only {
    display: none !important;
  }
}