@charset "utf-8";

/* body
-------------------------------------------------------*/
body {
  overflow-x: hidden;
  font-family: "Noto Sans JP", "Helvetica Neue", "ヒラギノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #3a3a3a;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings : "palt";
  letter-spacing: .04em;
}

.content_wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.section_item {
  padding: 60px 0 70px;
}

.section_item-bg:before {
  background: #f6f6f6;
}

.section_title {
  text-align: center;
  margin-bottom: 40px;
}

.section_title h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.6em;
  letter-spacing: .05em;
  font-weight: bold;
}

.section_title p {
  color: #777;
  line-height: 1.8em;
  letter-spacing: .05em;
}

.section_item_contact p {
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.section_item_contact:before {
  background: #15b0ed;
}

.section_item_contact .btn {
  padding: 15px 50px;
}

@media screen and (max-width: 811px) {
  body {
    overflow: visible;
  }

  .content_wrapper {
    max-width: 100%;
    padding: 0 5%;
  }
}

/* header
-------------------------------------------------------*/
.header {
  width: auto;
  height: 70px;
  z-index: 100;
  border-bottom: 1px solid #ccc;
}

.header-inner {
  position: relative;
  height: 70px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img {
  width: 150px;
  height: auto;
}

.header_menu ul {
  display: flex;
  align-items: center;
  line-height: 1em;
}

.header_menu ul li {
  margin-left: 10px;
}

.header_menu_time {
  font-size: 12px;
  margin-bottom: 4px;
}

.header_menu_tel {
  font-weight: bold;
  font-size: 31px;
}


/* footer
-------------------------------------------------------*/
.footer {
  padding: 20px 0;
  text-align: center;
  background: #f6f6f6;
  color: #999;
}

.footer p {
  font-size: 14px;
  margin: 5px 0;
}

/* top hero
-------------------------------------------------------*/

.top_hero {
  height: 450px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  color: #fff;
}

.top_hero_01 {
  background: url(../img/top/kv-lp-01.png) no-repeat center center;
  background-size: cover;
}

.top_hero_02 {
  background: url(../img/top/kv-lp-01.png) no-repeat center center;
  background-size: cover;
}

.top_hero_03 {
  background: url(../img/top/kv-lp-01.png) no-repeat center center;
  background-size: cover;
}

.top_hero_tagline {
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: .05em;
  font-weight: bold;
}

.top_hero_desc {
  margin-bottom: 40px;
  line-height: 1.8em;
  letter-spacing: .05em;
  font-weight: bold;
}

.top_hero .btn {
  padding: 18px 70px;
  font-size: 18px;
}

.section_select {
  text-align: center;
}

.section_select h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.6em;
  letter-spacing: .05em;
  font-weight: bold;
}


/* works sample
-------------------------------------------------------*/
.works_sample {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.works_sample li {
  width: calc(25% - 20px);
  border: 1px solid #eee;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
}

.works_sample_content {
  padding: 20px;
  background: #fff;
  min-height: 150px;
}

.works_sample_content h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #15b0ed;
  font-weight: bold;
}

.works_sample_content p {
  color: #777;
}

.works_list {
  display: flex;
  justify-content: space-between;
}

.works_list li {
  text-align: center;
}

.works_list_icon {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background:#15b0ed;
  margin-bottom: 10px;
}

.works_list_icon i {
  color: #fff;
  line-height: 100px;
  font-size: 40px;
}

.works_list p {
  font-weight: bold;
}

/* faq
-------------------------------------------------------*/

.section_about {

}

.section_about_img {
  margin-bottom: 40px;
}

/* faq
-------------------------------------------------------*/

.faq_content {
  margin-bottom: 50px;
}

.faq_content h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  color: #fff;
  background: #15b0ed;
  padding: 10px;
  border-radius: 5px;
}

.faq_list li {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
  background: #fff;
}

.faq_list li p {
  padding-left: 50px;
  position: relative;
  margin-bottom: 10px;
}

.faq_q {
  font-size: 20px;
  font-weight: bold;
}

.faq_a {
  color: #666;
}

.faq_list li span {
  position: absolute;
  left: 0;
  background: #ff9b4f;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
}

/* contact
-------------------------------------------------------*/
.section_contact {
  color: #fff;
}

.section_contact .section_title p {
  color: #fff;
}

.section_contact:before {
  background: #15b0ed;
}

.section_contact_wrap {
  width: 600px;
  background: #fff;
  margin: 0 auto;
  padding: 40px 60px;
  border-radius: 3px;
}

.section_contact_wrap ul {
  margin-bottom: 20px;
}

.section_contact_wrap li {
  margin-bottom: 13px;
}

.section_contact_wrap label {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

.section_contact_wrap .btn {
  width: 100%;
  margin: 0;
}




/* ----------------------------------------------------
LP 2
-------------------------------------------------------*/

/* works example */
.enterpriseWorks_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.enterpriseWorks_item {
  width: calc(25% - 20px);
  margin-bottom: 40px;
  text-align: center;
}

.enterpriseWorks_icon {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background:#15b0ed;
  margin-bottom: 20px;
}

.enterpriseWorks_icon i {
  color: #fff;
  line-height: 100px;
  font-size: 40px;
}

.enterpriseWorks_content h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.enterpriseWorks_content li {
  color: #777;
}

/* flow*/

.enterpriseFlow_list {
  display: flex;
  justify-content: space-between;
}

.enterpriseFlow_list li {
  width: calc(20% - 20px);
  text-align: center;
}

.enterpriseFlow_list li img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.enterpriseFlow_icon {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background: #ff9b4f;
  margin-bottom: 20px;
}

.enterpriseFlow_icon i {
  color: #fff;
  line-height: 100px;
  font-size: 40px;
}

.enterpriseFlow_list li span {
  text-align: center;
  display: block;
  color: #ff9b4f;
  font-weight: bold;
  margin-bottom: 10px;
}

.enterpriseFlow_list li h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.enterpriseFlow_list li p {
  color: #777;
  text-align: left;
  font-size: 14px;
  line-height: 1.8em;
  text-align: justify;
}


/* features */
.features_list {
  display: flex;
  justify-content: space-between;
}

.features_list li {
  width: calc(33.33% - 20px);
  text-align: center;
}

.features_list h3 {
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.6em;
}

.features_list p {
  text-align: justify;
  color: #777;
}

/* ----------------------------------------------------
LP 3
-------------------------------------------------------*/
/* user voice */
.userVoice_list {
  display: flex;
  justify-content: space-between;
}

.userVoice_list li {
  width: calc(33.33% - 20px);
}

.userVoice_list img {
  display: block;
  margin-bottom: 20px;
}

.userVoice_list h3 {
  margin-bottom: 5px;
}

.userVoice_list span {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
  color: #999;
}

.userVoice_list p {
  color: #777;
  text-align: justify;
}

/* use flow*/

.userFlow_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.userFlow_list li {
  width: calc(33.33% - 20px);
  text-align: center;
  margin-bottom: 40px;
}

.userFlow_icon {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background: #ff9b4f;
  margin-bottom: 20px;
}

.userFlow_icon i {
  color: #fff;
  line-height: 100px;
  font-size: 40px;
}

.userFlow_list li span {
  text-align: center;
  display: block;
  color: #ff9b4f;
  font-weight: bold;
  margin-bottom: 10px;
}

.userFlow_list li h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.userFlow_list li p {
  color: #777;
  text-align: justify;
  line-height: 1.6em;
}


/* plan */
.section_plan_content {
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
  margin-top: 30px;
  padding: 20px 20px 30px;
  border-radius: 5px;
  text-align: center;
}

.section_plan_price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.section_plan_price p {
  font-size: 30px;
  font-weight: bold;
}

.section_plan_price span {
  font-size: 80px;
  line-height: .9em;
  display: inline-block;
  margin: 0 5px;
  color: #15b0ed;
}

.section_plan_content >   p {
  font-weight: bold;
  color: #666;
}